.main {
  display: flex;
  height: 960px;
  width: auto;
  justify-content: center;
  align-items: center;
}

.pokemon-name,
img:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

button {
  height: 36px;
  padding: 12px;
  margin: 12px;
  width: 120px;
  text-align: center;
  background: lightslategray;
  border: none;
  color: white;
  border-radius: 4px;
}
button:focus {
  outline:0;
}

.button-disabled {
  background: transparent;
  color: black;
  border: 1px solid black;
}

.gallery-container {
  text-align: center;
  border: 2px solid gray;
  border-radius: 4px;
}

.pokemon-name {
  color: gray;
  text-decoration: underline;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: none;
  border-radius: 4px;
  background-color: lightslategray;
  color: white;
  padding: 16px;
}

.image {
  height: 240px;
  width: 240px;
}

.learn-more {
  padding: 8px;
  text-align: center;
  font-size: 12px;
  border: 1px solid white;
  background-color: lightslategray;
  color: white;
  border-radius: 4px;
}